.Accueil {
    
    justify-content: space-between; /* Répartit l'espace entre les éléments */
    align-items: left;
    font-family: Montserrat, sans-serif;

  }

  .parents {
    display: flex;
  }
  
  .container-parent {
    /* Styles pour les conteneurs enfants */
    width: 60%; /* Largeur des conteneurs enfants */
    
  }

  .introduction {

  }

  .wedding-name {
    font-weight: normal;
    font-family: "Great Vibes";
    font-size: 8vh;
  }

  .grandparents {
    display: flex;
    font-family: "Playfair-Display" ;
  }

  .container-grandparents {
    width: 60%;
  }

  @media (max-width: 768px) {
    .Accueils {
      /* Ajustez le style pour les écrans plus petits */
      font-size: 16px; /* Taille de la police adaptée pour les petits écrans */
    }
  
    .container-parent, .container-grandparents {
      width: 90%; /* Augmentez la largeur pour les petits écrans */
    }
  
    .wedding-name {
      font-size: 6vh; /* Réduit la taille de la police pour les petits écrans */
    }
  
    .parents, .grandparents {
      flex-direction: column; /* Change l'orientation des flexbox pour les petits écrans */
    }
  }
  
  