.Dashboard{

  border-radius: 10px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 

}

.ButtonGroup {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
  gap: 1px; /* Espacement entre les éléments */
  justify-content: center; /* Centre les éléments horizontalement */
}

.ButtonGroup .MuiButton-root {
  flex: 1 1 auto; /* Les boutons s'ajustent à l'espace disponible */
  min-width: 120px; /* Définir une largeur minimale pour les boutons */
  margin: 0; /* Ajustez les marges si nécessaire */
}

.tab-name {

  
}

@media screen and (max-width: 768px) {
  .tab-name {
    font-size: 1.8em; /* Ajustement de la taille de police pour les écrans plus petits */
    padding: 10px 20px; /* Ajustement de l'espacement pour les écrans plus petits */
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 768px) {
  .ButtonGroup .MuiButton-root {
    font-size: 1.5em; /* Ajustez la taille de la police pour les petits écrans */
    padding: 8px 16px; /* Ajustez l'espacement interne des boutons */
  }
}



.tab-name:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.tab-name:hover {
  background-color: transparent;
  color: #80BCBD;
}

.tab-name:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.tab-name:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.tab-name:active {
  background-color: #AAD9BB;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


